services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=postgresql://postgres.teqgrbmnwxkazxdwylzp:Lucasam1987%21%21@aws-0-us-west-2.pooler.supabase.com:6543/postgres?sslmode=require
      - POSTGRES_USER=postgres.teqgrbmnwxkazxdwylzp
      - POSTGRES_PASSWORD=Lucasam1987!!
      - POSTGRES_DB=postgres
      - SECRET_KEY=supersecretkey
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - GEMINI_API_KEY=AIzaSyAvHooCm9ceZKr8bcTXWNcH_iKKKIYanu4
    depends_on: []
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./frontend
    ports:
      - "3000:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
